/* The basic stuff to make it work */
@media screen and (min-width:968px) {
*{
    margin: 0;
    padding: 0;
}
    html{
        scroll-behavior: smooth;
    }
    body{
        margin: 0%;
        padding: 0%;
        font-family: Arial, Helvetica, sans-serif;
        color: whitesmoke;
        background-color: #2B2B38;
        cursor: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiH8VJl-WM8R9SXSqghtmvOA18bv-DcWeFlQ&usqp=CAU),auto;
    }
.navv-head{
  color: #0ef;
}
    .navv{
        width: 100%;
        height: auto; 
        margin: 0;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;   
        background-color: black;
        padding: 8px;

    }
.navv img{
  height: auto;
  width: 140px;
}
.navv img{
  padding-left: 20px;
}
#home{
  color: #0ef ;
}
    .seminavv{
        display: flex;
        list-style: none;
        column-gap: 22px;
    } 
    .seminavv  li a{
        text-decoration: none;
        color: whitesmoke;
        font-size: 25px;
    }

    .seminavv  li a:hover{
        color: #0ef;
        text-shadow: 2px 2px 8px #0ef;
    }
    .seminavv li a:active{
      color: #0ef;
    }

    .switch {
      position: relative;
      width: 60px;
      height: 34px;
margin-right: 18px;
    }
    .switch input { 
      opacity: 0;
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input:checked + .slider {
      background-color: #303050; 
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
    
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    } 

    .main{
        width: 100%;
        display: flex; 
        padding-top: 90px;
        gap: 240px;
        padding-bottom: 100px;
        animation: fade-in 4s;
        background-image: url("https://codeyogi.io/images/bgbanner.jpg");
        background-attachment: fixed;
        background-size: cover;
      }
      @keyframes fade-in {
        0%{
          opacity: 0;
        }
        100%{
          opacity: 1;
        }
      }
      .main img{
        max-width: 100%;
        display: block;
        height: auto;
      }

    .frontpage{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24PX;
        margin-left:105px;
    }

    .innerdiv1{
        display: flex;
        font-size: 20px;
        gap: 10px;
    }

    .innerdiv2{
      display: flex;
        color: #0ef;
        font-size: 35px;
    }

    .innerdiv3{
        font-size: 20px;
        gap: 33px;
    }

    .innerdiv4{
        font-size: 22px;
    }
    .yolo{
      color: white;
      text-shadow: none;
    }
    .btn{
        margin-top: 12px;
        box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
        height: 55px;
        width: 140px;
        background-color: #050801;
        color: #03e9f4;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        letter-spacing: 2px;
        transition: 0.5s;
        cursor: pointer;
        opacity: 0.8;
      }
      .btn:hover{
          background: #0ef;
          color: #050801;
          box-shadow: 0 0 5px #03e9f4,
                      0 0 25px #03e9f4,
                      0 0 50px #03e9f4,
                      0 0 200px #03e9f4;
           -webkit-box-reflect:below 1px linear-gradient(transparent, white);
      }
      .form-popup {
    border: 3px solid #f1f1f1;
      }
      
      /* Add styles to the form container */
      .form-container {
        max-width: 300px;
        padding: 10px;
        background-color: white;
      }
      
      /* Full-width input fields */
      .form-container input[type=text], .form-container input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
      }
      
      /* When the inputs get focus, do something */
      .form-container input[type=text]:focus, .form-container input[type=password]:focus {
        background-color: #ddd;
        outline: none;
      }
      
      /* Set a style for the submit/login button */
      .form-container .btnn {
        background-color: #04AA6D;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom:10px;
        opacity: 0.8;
      }
      
      /* Add a red background color to the cancel button */
      .form-container .cancel {
        background-color: red;
      }
      
      /* Add some hover effects to buttons */
      .form-container .btnn:hover, .btn:hover {
        opacity: 1;
      }
      .skills{
        background-color: #000;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        padding-top: 50px;
        row-gap:38px;
        padding-bottom: 20px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0; 
      }
      .semiskills{
        display: flex;
        justify-content: center;
        column-gap: 100px;
        flex-wrap: wrap;
        row-gap: 50px;
        height: auto;
      }
      .container {
        background-color: rgb(192, 192, 192);
        width: 100%;
        border-radius: 10px;
        height: auto;
    }
  
    .skill {
      display: flex;
      justify-content: end;
      background-color: #0ef;
      color: white;
      font-size: 12px;
      border-radius: 10px;
      height: 14px;
    }
  
    .html {
        width: 80%;
    }

      .skill-html{
        background-color: #2B2B38;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        height: auto;
        width: 20%;
        padding: 20px;
      }
      .skill-html:hover{
        box-shadow: 0px 1px 2px 0px rgba(0,255,255,0.7),
            1px 2px 4px 0px rgba(0,255,255,0.7),
            2px 4px 8px 0px rgba(0,255,255,0.7),
            2px 4px 16px 0px rgba(0,255,255,0.7);
            cursor: pointer;
            transform: translateY(-15px);
      }
      .skill-html img{
        width: 100%;
        height: auto;
        object-fit: contain;
      }
      .skill-html p{
        margin-top: 20px;
        font-size: large;
      }
      h1{
        color: #0ef;
        text-shadow: 2px 2px 8px #0ef; 
        font-size: 50px;
      }

      .projects{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;  
        margin-bottom: 120px;
        row-gap: 40px;
        padding: 22px;
      }
      
      .semi-projects{
        display: flex;
        column-gap: 100px;
        justify-content: flex-start;
      }
        
      .project-image{
        height: 260px;
        width: 100%;
      }
      
      .project-image img{
        height:auto;
        width:100%;
        border-radius: 0.375rem;
      }
      .project-image img:hover{
        transform: translateY(12px);
        cursor: pointer;
      }
      .vl{
        border-left: 6px solid burlywood;
        height: 400px;
      }
      
      .project-content{
        display: flex;
        flex-direction: column ;
        row-gap: 23px;
      }
      
      .project-content p{
      font-size: large;
      }
      
      .project-photos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
      }
      
      .project-image-inside{
        height: 155px;
        width: 248px;
        border: 4px solid blanchedalmond;
      }
      
      .project-image-inside img{
        height:auto;
        width:100%;
        object-fit: cover;
      }
      .contact-form{
        background-color: #000;
          
      }
}
@media screen and (max-width:968px) {
    *{
        margin: 0;
        padding: 0;
    }
    .navv{
        display: flex;
        color: white;
        justify-content: center;
        height: auto;
        padding: 11px 6px;
        flex-direction: column;
        align-items: center;
        background-color: #000;
        row-gap: 15px;
    }
    .navv img{
      display: none;
    }
    body{
        margin: 0;
        padding: 0;
        background-color: #2B2B38;
        font-family: 'Allura', cursive;
        font-family: 'Changa', sans-serif;
        font-family: 'Dancing Script', cursive;
        font-family: 'Tangerine', ;
        color: whitesmoke;
      }
      .seminavv{
      display: flex;
      list-style: none;
      column-gap: 18px;
  } 


  .seminavv  li a{
      text-decoration: none;
      color: whitesmoke;
      font-size: 32px;
  }

  .seminavv  li a:hover{
      color: #0ef;
      text-shadow: 2px 2px 8px #0ef;
  }
  .seminavv li a:active{
    color: #0ef;
  }

  .switch {
    position: relative;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #303050; 
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  } 

    .main{
        display: flex;
        align-items: center;
        padding-top: 14px;

    }
    .frontpage{
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        padding: 13px;
    }
    .innerdiv1{
        display: flex;
        font-size: 20px;
        gap: 10px;
    }
    .innerdiv2{
        color: #0ef;
        font-size: 22px;
    }
    .toggleclose{
        display: none;   
    }
    .innerdiv3{
        font-size: 21px;
    }
    .innerdiv4{
        font-size: 20px;
    }
    .btn{
        margin-top: 12px;
        box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
        height: 46.5px;
        width: 120px;
        background-color: #050801;
        color: #03e9f4;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        letter-spacing: 2px;
        overflow: hidden;
        transition: 0.5s;
        cursor: pointer;
    }
    .btn:hover{
        background: #0ef;
        box-shadow: 0 0 5px #03e9f4,
                    0 0 25px #03e9f4,
                    0 0 50px #03e9f4,
                    0 0 200px #03e9f4;
    }
} 


